@model JiaoZi.Models.Books
@*@model JiaoZi.Models.Mallview*@
@{
    Layout = "~/Views/Shared/Layoutmall.cshtml";
    
}
<style>
    *{
        margin:0;
        padding:0;
    }
    .center {
        width: 1005px;
        height: 600px;
        margin-left: 360px;
        margin-top:20px;
    }
    .pic img{
        width:300px;
        height:300px;
    }
    .details{
        width:300px;
        height:300px;
        margin-left:300px;
        margin-top:-300px;
        border:1px solid #ccc;
    }
    .big{
        width:400px;
        height:400px;
        position:absolute;
        top:260px;
        left:660px;
        border:1px solid #ccc;
        overflow:hidden;
        display:none;
    }
    /*.mask{
        width:100px;
        height:100px;
        background:rgb(255,255,0,0.4);
        position:absolute;
        top:0;
        left:0;
        cursor:move;
        
    }*/
</style>


@*添加放大镜  效果未完成*@
<div class="center" id="center">
        <div class="pic">
             <img src="~/@Model.BookImage" />
            <div class="mask"></div>
        </div>
        
        <div class="details">
            <p>￥@Model.Price</p>
            <p>@Model.BookName</p>
        </div>
      <div class="big">
          <img src="~/@Model.BookImage"  style="width:400px;height:400px;"/>
      </div>
</div>
<script>
    var center = document.getElementById("center");
    var pic = center.children[0];
    var big = center.children[2];
    var mask = pic.children[1];
    var bigimage = big.children[0];
    pic.onmouseover = function () {
        mask.style.display = "block";
    }
</script>