@model JiaoZi.Models.Books
@*@model JiaoZi.Models.Mallview*@
@{
    Layout = "~/Views/Shared/Layoutmall.cshtml";
    
}
<style>
    *{
        margin:0;
        padding:0;
    }
    .center {
        width: 1005px;
        height: 600px;
        margin-left: 360px;
        margin-top:20px;
        border:1px dashed red;
    }
        /*.center .small {
            width: 200px;
            height: 280px;
            float: left;
            margin-left: 20px;
        }

            .center .small .bookpic {
                width: 200px;
                height: 200px;
                margin-top: 10px;
            }

    .bookpic img {
        width: 200px;
        height: 200px;
    }

    .center .small .bookdetail {
        width: 120px;
        margin: 0 auto;
    }*/
</style>
<div class="center" id="center">
        <div class="pic">
            <img src="~/@Model.BookImage" />
        </div>
        <div class="details">
            <p>@Model.Price</p>
            <p>@Model.BookName</p>
        </div>

</div>
