@model JiaoZi.Models.BooksDetails
@*@model JiaoZi.Models.Mallview*@
@{
    Layout = "~/Views/Shared/Layoutmall.cshtml";

}
<style>
    * {
        margin: 0;
        padding: 0;
    }
    ul{
        list-style:none;
    }
    .center {
        width: 1005px;
        height: 600px;
        margin-left: 360px;
        margin-top: 20px;
    }

    .pic img {
        width: 300px;
        height: 300px;
    }

    .details {
        width: 300px;
        height: 300px;
        margin-left: 300px;
        margin-top: -300px;

    }

    .comment {
        width: 700px;
        height: 60px;
    }
    .CommentReply{
        width:900px;
        margin:0 auto;
    }
    .CommentReply li{
        margin-bottom:30px;
    }
    .pinglun {
        margin-left: 434px;
        margin-bottom: 40px;
    }
</style>


<div class="center" id="center">
    <div class="pic">
        <img src="~/@Model.b.BookImage" />
        <div class="mask"></div>
    </div>

    <div class="details">
        <p>￥@Model.b.Price</p>
        <p>@Model.b.BookName</p>
    </div>
</div>
<div class="pinglun">
    @using (Ajax.BeginForm("Comment", "Mall", new AjaxOptions()
    {
        Confirm = "你是否要评论",
        HttpMethod = "Post",
        UpdateTargetId = "CommentReply",
        InsertionMode = InsertionMode.Replace,
        OnComplete="complete"
    }))
    {
        <textarea id="cc" name="Comment_Content" style="resize:none;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;height:68px;width:798px;display:block;border:1px solid #c03f3c;"></textarea>
        <span><button id="tijiao">提交</button></span>
    }
</div>
<div class="CommentReply" id="CommentReply">
    @Html.Partial("Comment")
</div>
<script>
    function complete() {
        window.location.reload();
    }
</script>