@model JiaoZi.Models.Books
@*@model JiaoZi.Models.Mallview*@
@{
    Layout = "~/Views/Shared/Layoutmall.cshtml";
    
}
<style>
    .big {
        width: 500px;
        height: 300px;
        border: 1px solid red;
    }

    .pic {
        width: 200px;
        height: 200px;
        border: 1px solid #ccc;
    }

    .details {
        width: 80px;
        height: 40px;
        border: 1px dashed yellow;
    }
</style>
<div class="big">
        <div class="pic">
            <img src="~/@Model.BookImage" />
        </div>
        <div class="details">
            <p>@Model.Price</p>
            <p>@Model.BookName</p>
        </div>

    </div>
@*<div class="big">
    <div class="pic">
        <img src="~/@Model.Booksview.Books.BookImage" />

    </div>
    <div class="details">
        <p>@Model.Booksview.Books.BookName</p>
    </div>
</div>*@
