@model JiaoZi.Models.BooksDetails

<style>
    .CommentReply {
        width: 900px;
        margin: 0 auto;
    }

        .CommentReply li {
            margin-bottom: 30px;
        }
        .pinglun{
            margin-left:434px;
            margin-bottom:40px;
        }
</style>
<div class="pinglun">
    @using (Ajax.BeginForm("Comment", "Mall", new { BookID=Model.b.BookID }, new AjaxOptions()
        {
            HttpMethod = "Post",
            OnSuccess="success",
            UpdateTargetId = "CommentReply",
            InsertionMode = InsertionMode.Replace
    }))
    {
        <textarea id="cc" name="Comment_Content" style="resize:none;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;height:68px;width:798px;display:block;border:1px solid #c03f3c;"></textarea>
        <span><button id="tijiao">提交</button></span>
    }
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $("#tijiao").click(function () {
        var text = $("#cc").val();
        if (text == "") {
            alert("评论不能为空");
        }
        
    })
</script>