@model JiaoZi.Models.BooksDetails

<style>
    /*.CommentReply {
        width: 900px;
        margin: 0 auto;
    }

        .CommentReply li {
            margin-bottom: 30px;
        }*/

   
</style>


    <span>全部评论</span>
        <hr />
        <ul>
            @foreach (var i in Model.Bc)
            {

            <li>
                <img src="~/@i.Users.HeadImage" class="img-circle" style="width:50px;" />
                <span style="color:orangered">@i.Users.UserName</span>:
                @i.Comment_Content
                <span style="display:inline-block;margin-left:700px;font-size:12px;">@i.Comment_Time <input type="button" id="Reply" value="回复" /></span>
                <div class="Reply">
                    @*<textarea*@ 
                </div>
            </li>

                }
        </ul>

@*<div class="pinglun">
    @using (Ajax.BeginForm("Comment", "Mall",  new AjaxOptions()
    {
        Confirm="你是否要评论",
        HttpMethod = "Post",
        OnSuccess = "success",
        UpdateTargetId = "CommentReply",
        InsertionMode = InsertionMode.Replace
    }))
    {
        <textarea id="cc" name="Comment_Content" style="resize:none;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;height:68px;width:798px;display:block;border:1px solid #c03f3c;"></textarea>
        <span><button id="tijiao">提交</button></span>
    }
</div>*@


<script>
    //$("#tijiao").click(function () {
    //    var text = $("#cc").val();
    //    if (text == "") {
    //        alert("评论不能为空");
    //    }

    //})
</script>