
@{
    ViewBag.Title = "Index";
}
<style>
    #kongjianbody 
    {
        margin-top:40px;
    }
</style>
<h2>Index</h2>
<!-- 头部 -->
<div class="row" style="height: 400px;background-image: url('../../images/beijing/book.jpg');"id="kongjianbody">
    <!-- 左 -->
    <div class="col-md-2" style="height: 100%;"></div>
    <!-- 中 -->
    <div class="col-md-3" style="height: 100%;">
        <!-- 中上 -->
        <div style="height: 30%;width: 100%;"></div>
        <!-- 中下资料头像 -->
        <div style="height: 70%;width: 100%;background-color:aquamarine;">
            <p>关注|粉丝</p>
        </div>
    </div>
    <!-- 右 -->
    <div class="col-md-7" style="height:70%;">
        <!-- 右上 -->
        <div style="height: 70%;width:100%;"></div>
        <!-- 右下  导航-->
        <div style="height: 30%;width:100%;">
            <ul class="nav nav-tabs" id="tabNav">
                <li class="active"><a href="#shuoshuo">说说</a></li>
                <li><a href="#word">文档</a></li>
                <li><a href="#video">视频</a></li>
                <li><a href="#xiaoxi">消息</a></li>
            </ul>
            <br />
        </div>
    </div>
</div>

<!-- 中部 -->
<div>
    <div class="tab-content">
        <div class="tab-pane active" id="shuoshuo" style="height:1600px;">
            @Html.Action("shuoshuo","Kongjian")
        </div>
        <div class="tab-pane" id="word">
            @Html.Action("File","Kongjian")
            <p>文档✌</p>
        </div>
        <div class="tab-pane " id="video">
            <p>视频✌</p>
        </div>
        <div class="tab-pane " id="xiaoxi">
            <p>消息也</p>
        </div>
    </div>
    @*</div>*@
    <script>
		$("#tabNav a").click(function(e){
			e.preventDefault()
			$(this).tab("show");
		});
    </script>
</div>


