@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layoutkongjian.cshtml";
}

<!-- 中部 -->

<div>
    <div class="tab-pane active" id="shuoshuo1" style="height:1600px;">
        @Html.Action("allshuoshuo")
    </div>
</div>

