
@using (Html.BeginForm("shuoshuocomment", "Kongjian", FormMethod.Post))
{
    <div>
        @Html.TextArea("commentcontent", new { placeholder = "输入文字" })
        <input type="submit" value="确定" />
    </div>
}