@model JiaoZi.Models.Kongjianban
@{  
    Layout = null;
}
 <!--评论框架-->
@*<div class="comment">
    <a href="###" class="avatar">
        <i class="icon-camera-retro icon-2x"></i>
    </a>
    <div class="content">
        <div class="pull-right text-muted">3 个小时前</div>
        <div><a href="###"><strong>张士超</strong></a></div>
        <div class="text">今天玩的真开心！~~~~~~</div>
        <div class="actions">
            <a href="##">回复</a>
        </div>
    </div>
    <div class="comments-list">
        <div class="comment">
            <a href="###" class="avatar">
                <i class="icon-user icon-2x"></i>
            </a>
            <div class="content">
                <div class="pull-right text-muted">2 个小时前</div>
                <div><a href="###"><strong>Catouse</strong></a> <span class="text-muted">回复</span> <a href="###">张士超</a></div>
                <div class="text">你到底把我家钥匙放哪里了...</div>
                <div class="actions">
                    <a href="##">回复</a>
                    <a href="##">编辑</a>
                    <a href="##">删除</a>
                </div>
            </div>
            <div class="comments-list">
                <div class="comment">
                    <a href="###" class="avatar">
                        <i class="icon-yinyang icon-2x"></i>
                    </a>
                    <div class="content">
                        <div class="pull-right text-muted">1 个小时前</div>
                        <div><a href="###"><strong>门口大爷</strong></a> <span class="text-muted">回复</span> <a href="###">Catouse</a></div>
                        <div class="text">不在我这儿...</div>
                        <div class="actions">
                            <a href="##">回复</a>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <a href="###" class="avatar">
                        <i class="icon-cube-alt icon-2x"></i>
                    </a>
                    <div class="content">
                        <div class="pull-right text-muted">1 个小时前</div>
                        <div><a href="###"><strong>队长</strong></a> <span class="text-muted">回复</span> <a href="###">Catouse</a></div>
                        <div class="text">也不在我这儿...</div>
                        <div class="actions">
                            <a href="##">回复</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="comment">
            <a href="###" class="avatar">
                <i class="icon-heart-empty icon-2x"></i>

            </a>
            <div class="content">
                <div class="pull-right text-muted">30 分钟前</div>
                <div><a href="###"><strong>华师大第一美女</strong></a> <span class="text-muted">回复</span> <a href="###">张士超</a></div>
                <div class="text">很开心~~~</div>
                <div class="actions">
                    <a href="##">回复</a>
                </div>
            </div>
        </div>
    </div>
</div>*@
@foreach (var item in Model.ShuoCommentById)
{  <div class="comment">
       <a href="###" class="avatar">
           <img alt="头像" src="~/images/User_HeadImage/@item.Users.HeadImage" style="height:50px;width:50px;"/>
       </a>
       <div class="content">
           <div class="pull-right text-muted">@item.Comment_Time</div>
           <div><a href="###"><strong>@item.Users.UserName</strong></a></div>
           <div class="text">@item.Comment_Content</div>
           <div class="actions">
            <a href="##">回复</a>
           </div>
       </div>
    </div>
        }
        @using (Html.BeginForm("shuoshuocomment", "Kongjian", FormMethod.Post))
        {
            <div>
                @Html.TextArea("commentcontent", new { placeholder = "输入文字" })
                <input type="submit" value="确定" />
            </div>
        }
